{% extends 'SecurityUserBundle::layout.html.twig' %}
{% block body %}
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Connexion</h1>
              <div>
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Mot de passe" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" href="">Se connecter</a>
                <a class="reset_pass" href="#">Mot de passe perdu ?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">

                <div class="clearfix"></div>

                  <div>
                      <h1><i class="fa fa-users"></i> Asso Manager</h1>
                      <p>©2017 All Rights Reserved. Asso Manager</p>
                  </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
{% endblock %}