{% extends 'LearningAppBundle::layout.html.twig' %}
{% block body %}
    <div class="alert alert-success" style="text-align: center">
        <strong>Bonjour !</strong> Bientôt une section e-Learning ici.
    </div>
{% endblock %}